#!/bin/sh

id="$1"
class="$2"
instance="$3"

case "$class" in
    feh|imv|matplotlib) echo state=floating ;;
    Emacs) echo state=tiled ;;
    Zathura) echo state=tiled ;;
    Firefox|Nightly) echo desktop=^2 ;;
    Wine|steam_app_*|*_steam|csgo_linux64|osu!) echo desktop=^4 follow=off ;;
    Steam) echo desktop=^4 follow=off focus=off layer=below ;;
    Lutris) echo desktop=^4 ;;
    Minecraft*) echo desktop=^4 ;;
    discord|Mumble|Rocket.Chat|Slack|Microsoft\ Teams*|obs|zoom) echo desktop=^3 follow=off focus=off ;;
    Deluge) echo desktop=^3 ;;
esac

case "$instance" in
    Navigator) echo desktop=^2 state=tiled follow=off focus=on ;;
    Dialog) echo follow=on focus=on ;;
    Places) echo state=floating ;;
    Minecraft*|*.exe) echo desktop=^4 follow=off focus=off ;;
esac
