#!/bin/sh

id="$1"
class="$2"
instance="$3"

case "$instance" in
    feh|imv|pcmanfm)
        echo state=floating
        ;;

    Navigator)
        echo state=tiled follow=off focus=on

        case "$(uname -n)" in
            CherryPC) echo desktop=primary:^2 ;;
            CherryLT) echo desktop=primary:^3 ;;
        esac
        ;;

    Dialog)
        echo follow=on focus=on
        ;;

    mumble|discord)
        echo desktop=primary:^3
        ;;

    Minecraft*)
        echo desktop=primary:^4
        ;;

    Steam)
        echo follow=off focus=off layer=below
        echo desktop=primary:^4
        ;;
esac
