/* Some elements on navbar hover */
#nav-bar #back-button,
#nav-bar #forward-button,
#nav-bar #stop-reload-button
{
  transition: 150ms !important;
  transition-delay: 100ms !important;
  opacity: 0 !important;
  -moz-margin-end: -2.6em !important;
}

:root :hover > #nav-bar #back-button,
:root :hover > #nav-bar #forward-button,
:root :hover > #nav-bar #stop-reload-button
{
  transition: 150ms !important;
  opacity: 1 !important;
  -moz-margin-end: initial !important;
}

/** Hide various elements */
/* Menu */
/*#appMenu-fxa-container,*/ /* Sign in to Sync */
#appMenu-fxa-container+toolbarseparator,
/*#appMenuRestoreLastSession,*/
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
/*#appMenu-library-button,*/
#appMenu-customize-button,
#appMenu-customize-button+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,

/* Navbar */
#nav-bar #home-button,
/* hide info icon for sites without permissions */
#urlbar :not(.grantedPermissions) #identity-icon,
#page-action-buttons > #pocket-button-box,
#page-action-buttons > #userContext-icons,
#page-action-buttons > #pageAction-urlbar-screenshots_mozilla_org,
#page-action-buttons > #pageActionButton
{
  display: none !important;
}

/* Remove urlbar border and background */
#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
  background-color: var(--top-level-bg-color) !important;
  color: var(--main-font-color) !important;
}

/* Separator to the left of the urlbar */
.urlbar-textbox-container {
  margin-left: 0px !important;
  border-left: 1px solid;
  border-image: linear-gradient(transparent 21%,
    var(--urlbar-separator-color) 21%,
    var(--urlbar-separator-color) 79%,transparent 79%);
  border-image-slice: 1 !important;
}

/* Place hamburger on left */
#PanelUI-button {
  -moz-box-ordinal-group: 0;
  border-left: none !important;
}

/* Hide tab close button */
#tabbrowser-tabs .tab-close-button {
    display: none !important;
}

/* Set tabline colour to container colour,
 * show on hover for bg tabs
 */
.tabbrowser-tab[usercontextid] .tab-line{
  background-color:var(--identity-tab-color)!important;
}

.tabbrowser.tab[usercontextid] .tab-line {
  background:var(--identity-tab-color) !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
  background: none !important;
}

/* Remove tab borders */
.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important; /* Remove borders from inactive tabs */
}

:root {
  --tabs-border: transparent !important; /* Remove borders from active tab and below tabs */
}

/* Move tabline to the bottom */
.tab-line {
  -moz-box-ordinal-group: 2;
}

/* Change default line colour */
.tab-line[selected=true] {
  background-color: #bfcfff !important;
}
