#main-menubar,
#page-action-buttons > #pocket-button,
#page-action-buttons > #pageActionButton,
#page-action-buttons > #pageActionSeparator,
#tabbrowser-tabs .tab-close-button {
  display: none !important;
}

:root {
  /* Remove borders from active tab and below tabs */
  --tabs-border: transparent !important;

  /* Number of pixels of enlargement when URL bar is focused [0px - 7px] */
  --mbarstyler-popout-pixels: 0px;
}

/* Compute new position, width, and padding */
#urlbar[breakout][breakout-extend] {
  top: calc(5px - var(--mbarstyler-popout-pixels)) !important;
  left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
  width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
  padding: var(--mbarstyler-popout-pixels) !important;
}
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: calc(3px - var(--mbarstyler-popout-pixels)) !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
}

/* Prevent shift of URL bar contents */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}
